.env
.env.*
*.env
**/.env
**/.env.*
**/*.env
!.env.example
!**/.env.example

node_modules/
**/node_modules/
dist/
**/dist/

question1/public/uploads/*
!question1/public/uploads/.gitkeep

question2/sessions/*
!question2/sessions/.gitkeep

*.sqlite
*.sqlite3
**/*.sqlite
**/*.sqlite3
